.header-container {
  background-image: url("../img/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  .main-header {
    h1.title {
      padding: 25px 0;
      color: #fff;
    }
    .nav.links {
      margin-top: 40px;
      .nav-item {
        letter-spacing: 2px;
        padding: 0 25px;
        font-size: 24px;
        .nav-link {
          padding: 0;
          color: #fff;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
  .introduction-container {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    .picture {
      text-align: center;
      margin-right: 100px;
      .profile {
        width: 300px;
        height: 300px;
      }
    }
    .introduction {
      p {
        color: #dedede;
        font-size: 36px;
        line-height: 46px;
        font-family: "Merriweather";
        font-weight: 300;
        &.name {
          font-family: "Lato";
          font-weight: 700;
          font-size: 64px;
          line-height: 74px;
          color: #fff;
        }
        &.specialization {
          line-height: 58px;
          font-weight: 300;
          strong {
            font-size: 48px;
            color: #fff;
          }
        }
      }
    }
  }

  .advertisement-container {
    margin-top: 80px;
    .advertisements {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .advertisement {
        color: #fff;
        text-align: center;
        font-family: 'Lato';
        .circle {
          border: 1px solid #fff;
          display: inline-block;
          padding: 18px;
          border-radius: 50%;
        }
        p{
            font-size: 22.5px;
            margin-top: 24px;
            font-weight: 300;
            &.title{
                font-size: 36px;
                font-weight: 400;
            }
        }
        

      }
    }
  }
}
